.App {
  font-family: Circular;
}

.title {
  margin: 0px;
  word-wrap: break-word;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.125em;
  color: #484848;
  padding-top: 6px;
  padding-bottom: 6px;
}
